.LogoContainer {
  min-height: 128px !important;
  display: flex;
}

.Logo {
  width: 100%;
  padding: 15% 20%;
  color: white !important;
  position: static !important;
}

.divider {
  background-color: #ffffffa6;
  min-width: 20px !important;
  width: 80% !important;
  margin: 10px auto;
}
