.LogoContainer {
  min-height: 128px !important;
  display: flex;
}

.Logo {
  width: 100%;
  padding: 15% 20%;
  color: white !important;
  position: static !important;
}

.Menu > li[class="ant-menu-item-divider"] {
  background-color: #ffffffa6;
  width: 80%;
  margin: 10px auto;
  border: 1px solid #0505050f;
}

.Menu > li:nth-last-child(1) {
  height: 100%;
}

.Menu > li {
  user-select: none;
}
