.HomeSearch {
  position: absolute;
  top: 50px;
  right: 0px;
}

.SearchBar {
  width: 400px;
}

.SearchBar * {
  color: white !important;
}

.SearchBar > span {
  border-radius: 5px;
  background-color: #ffffff2f;
}

.SearchBar input::placeholder {
  color: rgba(255, 255, 255, 0.527) !important;
}

.SearchBar input {
  font-size: 0.9rem !important;
  background: none !important;
}
