.box:nth-child(even) {
  width: 220px;
  height: 220px;

  background-color: olive;
}

.box:nth-child(odd) {
  width: 220px;
  height: 220px;

  background-color: peru;
}

.HomeSwiperContainer {
  width: inherit;
  overflow: hidden;
}

.HomeSwiper {
  width: 110%;
}
